.finalbody {
  background-color: rgba(1, 34, 22, 1);
  height: 92vh;
  width: 100%;
}
.titles {
  font-family: "Mulish", sans-serif;
  color: white;
  font-size: 16px;
  font-weight: 800;
}
.rowoftitles {
  padding-left: 80px;
  padding-top: 80px;
}
.firstcolbox {
  padding-top: 30px;
  font-weight: 200;
}
.cloudi {
  height: 100px;
  width: fit-content;
  margin-top: -45px;
  padding-left: 80px;
}
.definition {
  color: white;
  padding-top: 10px;
  padding-left: 80px;
}
.socailmedia {
  color: white;
  font-weight: 700;
  font-family: "Mulish", sans-serif;
}
.contentofsm {
  color: white;
  font-family: "Mulish", sans-serif;
}
.socialmediacons {
  display: flex;
  gap: 25px;
  font-size: 25px;
}
.bottombox {
  height: 8vh;
  background-color: rgba(6, 136, 91, 1);
}
.contentlast {
text-align: center;
  color: white;
  padding-top: 15px;
}
.contentssocial {
  margin-top: -30px;
}

@media (max-width: 575px) {
  .finalbody {
    background-color: rgba(1, 34, 22, 1);
    height: auto;
  }
  .contentlast{
    height: auto;
    font-size: 13px;
  }
  .contentssocial{
    margin-top: 0;
  }
  .rowoftitles {
    padding-left: 40px;
    padding-top: 80px;
  }
  .socialmediacons {
    display: flex;
    gap: 25px;
    font-size: 25px;
    padding-bottom: 15px;
  }
  .cloudi {
    height: 100px;
    width: fit-content;
    margin-top: -45px;
    padding-left: 10px;
  }
  .definition {
    color: white;
    padding-top: 10px;
    padding-left: 10px;
  }
}
